<style>

        body {
            padding-top: 50px;
            padding-bottom: 40px;
            color: #5a5a5a;
        }
        body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}

        .jumbotron {
            /*background: #358CCE;*/
            /*color: #FFF;*/
            border-radius: 0px;
            }
            .jumbotron-sm { padding-top: 24px;
            padding-bottom: 24px; }
            .jumbotron small {
            color: #FFF;
            }
            .h1 small {
            font-size: 24px;
            }
        
        .background {
            
             -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover;
        }

        /* Carousel */

        #homeCarousel {
            height: 500px;
            margin-bottom: 60px;
        }
        #homeCarousel .item {
            height: 500px;
            background-color: #000;
        }

        #homeCarousell .item img {
            width: 100%;
        }

        .carousel-caption {
            z-index: 10;
        }

        .carousel-caption p {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 1.8;
        }

      
/* Footer Social styles
-------------------------------------------------- */
#social:hover {
                -webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
            }
            #social {
                -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
            }           
/* 
Only Needed in Multi-Coloured Variation 
                                   */
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}


/*Upload Image*/


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;

    min-width: 100px;
    min-height: 100px;
    
    font-size: 10px;
    text-align: right;
    filter: alpha(opacity=0);
    
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    opacity: 0;
}


.thumbnail {
    /*background: #ffb6c1;*/
    background: #000000;
    
}


/*Ad Details*/
/*********************************************
                Call Bootstrap
*********************************************/

@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*********************************************
                Theme Elements
*********************************************/

.gold{
    color: #FFBF00;
}

/*********************************************
                    PRODUCTS
*********************************************/

.product{
    border: 1px solid #dddddd;
    height: 321px;
}

.product>img{
    max-width: 230px;
}

.product-rating{
    font-size: 20px;
    margin-bottom: 25px;
}

.product-title{
    font-size: 20px;
}

.product-desc{
    font-size: 14px;
}

.product-price{
    font-size: 22px;
}

.product-stock{
    color: #74DF00;
    font-size: 20px;
    margin-top: 10px;
}

.product-info{
        margin-top: 50px;
}

/*********************************************
                    VIEW
*********************************************/

.content-wrapper {
    background: #fff;
    max-width: 1140px;
    margin: 0 auto;
    /*margin-top: 25px;*/
    /*margin-bottom: 10px;*/
    border: 0px;
    border-radius: 0px;
}

.container-fluid{
    /*max-width: 1140px;*/
    margin: 0 auto;
}

.view-wrapper {
    float: right;
    /*max-width: 70%;*/
    /*margin-top: 25px;*/
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

/*********************************************
                ITEM 
*********************************************/

.service1-items {
    padding: 0px 0 0px 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 321px;
    width: 130px;
}

.service1-item {
    height: 107px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item > img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    padding-right: 50px;
}

.service-image-right {
    padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
    max-height: 155px;
}

/*
* ng-grid
*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 800px;
}

/*
*  Process bar
*/
.modal-static { 
    position: fixed;
    top: 50% !important; 
    left: 50% !important; 
    margin-top: -100px;  
    margin-left: -100px; 
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 200px; 
    height: 200px; 
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important; 
    margin: 0 !important;
}
.modal-static .modal-content .icon {
}


/*user detail in ad detail page*/
.profile 
{
    /*min-height: 355px;*/
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }

/*not found*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
/*end not found*/



/*Navbar*/

/* 
Inspired by http://dribbble.com/shots/890759-Ui-Kit-Metro/attachments/97174
*/
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}
body {
    /*background: url(http://habrastorage.org/files/90a/010/3e8/90a0103e8ec749c4843ffdd8697b10e2.jpg);*/
    /*text-align: center;*/
    padding-top: 40px;
}
.btn-nav {
    background-color: #fff;
    border: 1px solid #e0e1db;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.btn-nav:hover {
    color: #e92d00;
    cursor: pointer;
    -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    -moz-transition: color 1s;
    transition: color 1s;
}
.btn-nav.active {
    color: #e92d00;
    padding: 2px;
    border-top: 6px solid #e92d00;
    border-bottom: 6px solid #e92d00;
    border-left: 0;
    border-right: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.btn-nav.active:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #e92d00 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    top: 0;
    left: 50%;
}
.btn-nav .glyphicon {
    padding-top: 16px;
    font-size: 40px;
}
.btn-nav.active p {
    margin-bottom: 8px;
}
@-webkit-keyframes pulsate {
 50% { color: #000; }
}
@keyframes pulsate {
 50% { color: #000; }
}
@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
}
/*End navbar*/


/*button*/
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
     -webkit-box-shadow: 2px 3px 0px rgba(4, 4, 4, 0.3);
    -moz-box-shadow:    2px 3px 0px rgba(4, 4, 4, 0.3);
    box-shadow:         2px 3px 0px rgba(4, 4, 4, 0.3);        
    }
.shadow_radius {
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
     -webkit-box-shadow: 2px 3px 0px rgba(4, 4, 4, 0.3);
    -moz-box-shadow:    2px 3px 0px rgba(4, 4, 4, 0.3);
    box-shadow:         2px 3px 0px rgba(4, 4, 4, 0.3);        
}
/*button*/



</style>