<script src="http://connect.facebook.net/en_US/all.js"></script>

<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
    <tabset justified="true">
    <!-- Sign in -->
    <tab  heading="Taobao Master 登陆页面" >
    <div class="panel panel-info" >
      <div ng-if="showLoginError" class="alert alert-danger col-sm-12">少女，用户名或者密码错误</div>
      <div style="padding-top:30px" class="panel-body" >
        <form id="loginform" class="form-horizontal" role="form" ng-submit="login()">
          
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  ng-model="loginData.username"  type="text" class="form-control" name="username" placeholder="username or email" required>
          </div>
          
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input ng-model="loginData.password" type="password" class="form-control" name="password" placeholder="password" required>
          </div>
          
          <div class="container">
            <input type="submit" class="btn btn-success" value="Login" />
          </div>
        </form>
      </div>
    </div>
    </tab>
  </tabset>
  </div>
</div>

<div align="center">
  <div class="alert alert-warning" style="width:50%;" align="center">
    <p>由于时间有限，我做得比较简单粗暴，等有时间再做修改。</p>
    <p>我把服务器设置到德国，所有中国访问会有点延迟。</p>
  </div>
</div>